langchain-community
langchain-huggingface
langchain-chroma
langchain-cohere
langchain
flashrank
opensearch-py
openai
tiktoken
cohere
faiss-gpu
chromadb
pypdf2
pypdf
xformers
rank_bm25
tqdm
numpy
